*{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 9px;

}

a {
    color: deepskyblue;
}

/* brown background made transparent to show off brick a bit */

main {
    background-color: rgba(67, 40, 24,0.8);
    padding: 6px;
    color: blanchedalmond;
}

/* Brick should repeat on all pages*/

body {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("./assets/backgroundrepeat.jpg");
    background-repeat: repeat;
    background-position: left top;
    
}

.brainwashing {
    display: inline-flexbox;
    max-width: 1000px;
    width: 100%;
    
}

/* Play button Images */

.playbutton {
    display: inline-flexbox;
    margin: 0 auto;
}

.aggresive {
    font-weight: 400;
    font-size: xx-large;
}

.adventure {
    display: inline;
    padding: 50px 0px 50px 0px;
}

header {
    background-color: #81b29a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 10px 10px 10px;
    border: 10px dotted #f2cc8f
}

footer {
    background-color: #343a40;
    font-size: 20px;
    height: 10%;
    width: 100%;
    color:blanchedalmond;
}
h1 {
    background-color: #343a40;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: blanchedalmond;
}

h2 {
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 50px 50px 10px 50px;
    display: inline-flexbox;
    font-style: italic;
    text-decoration: underline;
}
h3 {
    background-color: #81b29a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 20px 0px;
    line-height: '200';
}

h5 {
    color: greenyellow;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    padding: 10px 10px 20px 10px;
}

/* Slayer Images */

.capes {
    display: inline-flexbox;
    max-width: 1000px;
    width: 100%;
}

.slayergear {
    display: inline-flexbox;
    max-width: 1000px;
    width: 100%;
}

.slayergroup {
    display: inline-flexbox;
    max-width: 1000px;
    width: 100%;
}

.slayerlvl {
    display: inline-flexbox;
    max-width: 1000px;
    width: 100%;
}

h4, .hidden {
    color: blanchedalmond;
    text-decoration: line-through;
    text-size-adjust: 16px;
}

a, :hover {
    text-decoration: hover;
}

nav {
    font-size: 30px;
    background-color: #343a40;
    margin: 10px 50px 50px 50px;
    padding: 5px 20px 20px 20px;
    border: 20px solid #81b29a;
    color: blanchedalmond;
}